<div class="taskList">
    <div class="row taskRow">
      <div class="taskOptions one columns ">
        <p class="pleaseWork">{{task-done task=task markDone2="markDone3"}}</p>
      </div>
      <div class="taskDescription ten columns">
        <p>{{task.description}}</p>
      </div>
      <div class="taskOptions one columns">
        {{task-update task=task update="update" destroyTask="destroyTask"}}
      </div>
    </div>
</div>
