body{
  background: url(bg.jpg) no-repeat center center fixed;
  -webkit-backgound-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.greybox{
  width: 90%;
  margin: 30px auto;
  background-color: #F6F9FA;
}

.leftMenu{
  height: 1200px;
  background-color: #F6F9FA;
  text-align: center;
}

.leftMenu h3{
  margin: 0;
  /*padding-top: 40px;*/
  text-align: center;
  color: #404040;
  font-family: 'Poiret One', cursive;
}

.rightMenu{
  height: 1200px;
  background-color: #F6F9FA;
  padding: 20px;
  color: #404040;
}

.textBox{
  height: 1200px;
  width: 300px;
  background-color: #fff;
  padding: 20px;
}

.topbar{
  width: 100%;
  height: 70px;
  background-color: #38c9a7;
  /*background-color: #C93838;*/
}

.icons i{
  color: #fff;
}

.icons i:hover{
  color: #333;
}

.icons .left{
  float: left;
  font-size: 1.2em;
  line-height: 70px;
  margin: 0 20px;
}

.icons .right{
  float: right;
  font-size: 1.2em;
  line-height: 70px;
  margin: 0 20px;
}

.topbar .icons .lineput{
  height: 20px;
  padding: 0;
  margin-left: 10px;
  background-color: #38c9a7;
  border-top: 0 #38c9a7 solid;
  border-right: 0 #38c9a7 solid;
  border-left: 0 #38c9a7 solid;
  border-bottom: 1px #fff solid;
  border-radius: 0;
}

.topbar .icons .lineput:active{
  height: 20px;
  padding: 0;
  margin-left: 10px;
  background-color: #38c9a7;
  border-top: 0 #38c9a7 solid;
  border-right: 0 #38c9a7 solid;
  border-left: 0 #38c9a7 solid;
  border-bottom: 1px #fff solid;
  border-radius: 0;
}


.newPostIcon{
  margin-top: -20px;
  margin-right: -52px;
  float: right;
}

.newPostIcon i {
  font-size: 1.2em;
  color: #38c9a7;
}

.editIcon{
  margin-top: -135px;
  margin-right: -54px;
  float: right;
}

.editIcon i{
  font-size: 1.2em;
  color: #38c9a7;
}

.deleteIcon{
  margin-top: -80px;
  margin-right: -51px;
  float: right;
}

.deleteIcon i{
  font-size: 1.2em;
  color: #38c9a7;
}

.backIcon{
  margin-top: -25px;
  margin-right: -52px;
  float: right;
}

.backIcon i{
  font-size: 1.2em;
  color: #38c9a7;
}

.logo{
  padding-top: 20px;
  width: 37%;
}

.menulinks i{
  padding: 50px;
  font-size: 1.8em;
  color: #333;
}

.menulinks i:hover{
  color: #38c9a7;
}

.taskDescription{
  background-color: #f1fbf9;
  margin: 10px 0 0 -15px;;
  height: 60px;
  line-height: 60px;
  border-radius: 5px;
  padding-left: 20px;
}

.taskRow{
  padding: 10px;
  margin-left: 35px;
}

.taskOptions{
  margin-top: 25px;
  margin-left: 10px;
}

.taskOptions i {
  color: #333;
  font-size: 1.0em;
  padding-left: 3px;
}

.taskOptions i:hover {
  color: #38c9a7;
}

.newButton{
  text-align: center;
  margin-left: -18px;
}

.updateForm{
  margin: 60px 0 0 -835px;
}

.circles{
  text-align: center;
  margin-left: 100px;
  margin-bottom: 40px;
}

.circle{
  width: 250px;
  height: 250px;
  background-color: grey;
  border-radius: 100%;
}

.blue{
  background-color: #38a8c9;
}

.red{
  background-color: #c93838;
}

.orange{
  background-color: #c96e38;
}

.caseBox{
  width: 400px;
  height: 250px;
  margin-top: 150px;
  padding-top: -500px;
}

.handle{
  width: 200px;
  margin: auto;
  height: 30px;
  border-top: black 10px solid;
  border-left: black 10px solid;
  border-right: black 10px solid;
}

.innerBox{
  background-color: #38a8c9;
  width: 400px;
  height: 200px;
}

.done{
  text-decoration: line-through;
}
