<div class="containers">

  <div class="greybox">

    <div class="littleGuy">
      <i class="fa fa-file-text" aria-hidden="true"></i><br>
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i><br>
      <i class="fa fa-trash-o" aria-hidden="true"></i><br>
    </div>

    <div class="topbar">
      <div class="icons">
        <i class="fa fa-bars left" aria-hidden="true"></i>
        <i class="fa fa-search left" aria-hidden="true"> _________________</i>

        <i class="fa fa-envelope right" aria-hidden="true"></i>
        <i class="fa fa-user right" aria-hidden="true"></i>
        <i class="fa fa-home right" aria-hidden="true"></i>
      </div>
    </div>

    <div class="row">
      <div class="leftMenu three columns">
        <img src="logo.png" class="logo"/>
        <h3>KODEKIT</h3>
      </div>

      <div class="textBox nine columns">
        {{outlet}}
      </div>

    </div>

  </div>

</div>
