<div class="row circles">
  <div class="circleGrid four columns">
    <div class="circle blue"></div>
  </div>
  <div class="circleGrid four columns">
    <div class="circle red"></div>
  </div>
  <div class="circleGrid four columns">
    <div class="circle orange"></div>
  </div>
</div>


<div class="caseBox">
  <div class="handle"></div>
  <div class="innerBox"></div>
</div>
