
<ul>
  {{post-detail post=model destroyPost="destroyPost"}}
  {{post-update post=model update="update"}}
  <div class="backIcon">
    {{#link-to 'index'}}<i class="fa fa-arrow-left" aria-hidden="true"></i>{{/link-to}}
  </div>
</ul>
